<h1>New Activity</h1>

<%= form_with url: "/gyms/#{@gym.id}/activities", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.label :day %>
  <%= form.text_field :day %><br>
  <%= form.label :time %>
  <%= form.text_field :time %><br>
  <%= form.label :drop_in %>
  <%= form.check_box :drop_in %><br>
  <%= form.label :max_number %>
  <%= form.number_field :max_number %><br>

  <%= form.submit "Create Activity" %>
<% end %>
