<h1>Compositions</h1>
<ul>
  <% @compositions.each do |composition| %>
  <% if composition.on_display == true %>
    <li>Name:
      <%= link_to composition.name, "compositions/#{composition.id}" %></li>
    <li>Artist:
      <%= composition.artist %></li>
    <li>On Display?:
      <%= composition.on_display %></li>
    <li>Year Made:
      <%= composition.year_made %></li>
    <%= link_to "Update #{composition.name}", "/compositions/#{composition.id}/edit" %>
    <br>
    <br>
  <% end %>
  <% end %>
</ul>
