<h1><%= @composition.name %></h1>

<p>
  <b>Artist:</b>
  <%= @composition.artist %></p>
<p>
  <b>On Display?:
  </b><%= @composition.on_display %></p>
<p>
  <b>Year Made:
  </b><%= @composition.year_made %></p>
<p>
  <%= link_to 'Update Composition', "/compositions/#{@composition.id}/edit" %></p>
  <p>
    <%= link_to 'Delete Composition', "/compositions/#{@composition.id}", method: :delete %></p>
