<h1><%= @composition.name %></h1>

  <b>Artist:</b>
    <%= @composition.artist %>
    <br>
  <b>On Display?: </b>
    <%= @composition.on_display %>
    <br>
  <b>Year Made: </b>
    <%= @composition.year_made %>
    <br>

  <%= link_to 'Update Composition', "/compositions/#{@composition.id}/edit" %>
  <br>
  
  <%= link_to 'Delete Composition', "/compositions/#{@composition.id}", method: :delete %>
