<h1><%= @gym.name %></h1>
<p><b>Location: <%= @gym.location %></p>
<p><b>open: <%= @gym.open %></p>
<p><b>Rank: <%= @gym.rank %></p>
<p><b>Number of Activities: <%= @activity_count %></p>
<a href=<%="/gyms/#{gym.id}/activities" %> >Activities</a>
