<h1><%= @gyms.name %></h1>
<p><b>Location: <%= @gyms.location %></p>
<p><b>open: <%= @gyms.open %></p>
<p><b>Rank: <%= @gyms.rank %></p>

<h1><%= @activities.name %></h1>
<p><b>Day: <%= @activities.day %></p>
<p><b>Time: <%= @activities.time %></p>
<p><b>Maximum Capacity: <%= @activities.max_number %></p>
<p><b>Drop In: <%= @activities.drop_in %></p>
<p><b>Gym ID: <%= @activities.gym_id %></p>
