<h1>Edit Museum</h1>

<%= form_with url: "/museums/#{@museum.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>
  <%= form.label :free_admission %>
  <%= form.check_box :free_admission %><br>
  <%= form.label :donation_revenue %>
  <%= form.number_field :donation_revenue %><br>
  <%= form.submit 'Edit Museum' %>
<% end %>
