<h1><%= @museum.name %></h1>
  <b>Free Admission?: </b>
    <%= @museum.free_admission %>
    <br>
  <b>Donation Revenue: </b>
    $<%= @museum.donation_revenue %>
    <br>
  <b>Compositions: </b>
    <%= @museum.count %>
    <br>

    <br>
  <%= link_to 'Museum Compositions', "/museums/#{@museum.id}/compositions" %>
    <br>
  <%= link_to 'Update Museum', "/museums/#{@museum.id}/edit" %>
    <br>
  <%= link_to 'Delete Museum', "/museums/#{@museum.id}", method: :delete %>
