<h1>Activities</h1>

<% @activities.each do |activity| %>
  <%= activity.name %><br>
  <%= activity.day %><br>
  <%= activity.time %><br>
  <%= activity.max_number %><br>
  <%= activity.drop_in %><br>
  <%= activity.gym_id %><br><br>




<% end %>
