<h1><%= @activities.name %></h1>

<p><b>Name: <%= @activities.name %></p>
<p><b>Day: <%= @activities.day %></p>
<p><b>Time: <%= @activities.time %></p>
<p><b>Maximum Number: <%= @activities.max_number %></p>
<p><b>Drop-In: <%= @activities.drop_in %></p>
<p><b>Gym ID: <%= @activities.gym_id %></p>




  
